$footer_height: 60px;
$modal_background: rgb(0,0,0,0.6);
$shadow_color: rgb(0,0,0,0.6);
$card_vertical_margin: 20px;
$card_margin: 15px;
$plus_button_size: 50px;
$header_margin: 0;
$header_height: 60px;
$video_height: 40%;
