// vuetify의 변수를 사용할 경우 적용합니다. vuetify를 사용하지 않는다면 삭제하시면 됩니다. 
// @import "~vuetify/src/styles/main.sass";

// 공통으로 적용되는 스타일  
@import "common.scss";

// 4. 컴포넌트별 스타일 
// Vuetify에서 제공되는 컴포넌트에 대한 스타일 재정의 
///////////////////////////////////////////////
// @import "4_components/v-btn.scss";

// 3. 템플릿 스타일 
// Vuetify의 여러 컴포넌트를 조합하여 공통적으로 적용되는 스타일 정의
///////////////////////////////////////////////
// @import "3_templates/search_grid.scss";

// 2. 페이지 스타일 
// 화면 중 특별히 해당 페이지에만 적용되어야 할 경우 스타일 정의 
///////////////////////////////////////////////
// @import "2_pages/login.scss";

// 1. 레이아웃 스타일 
// 전체 레이아웃에 대한 스타일, 경우에 따라 1~2개정도의 소량이 생산될 확율이 높음
///////////////////////////////////////////////
// @import "1_layouts/layout1.scss";